$primary: #CA994A;
$primary-light: #F1C48B;
$primary-dark: #996633;

$white: #eee;
$white-secondary: #f6f6f6;

$black: #111111;
$black-secondary: #1e1e1e;

$gray: #707070;

$red: #f13b3b;
$orange: #f18b3b;
$green: #2ecc71;

$border-size: 1px;
$border-radius: 5px;
$border-radius-medium: 12px;
$border-radius-large: 20px;

$transition-duration: 0.3s;
$transition-ease: ease-in-out;
$transition-type: all;
$transition : $transition-type $transition-duration $transition-ease;


$spacing: 10px;
$spacing-small: 5px;
